table{
  text-align: center;
}
.list{
  display: block;
}
#table td{
  vertical-align: middle;
}
.btn-add{
  margin-bottom:20px;
}
.formgroup{
  margin-bottom:10px;
}
#fileupload{
  transform: translateY(-39px);
  opacity:0;
  width: 100%;
  height: 100%;
}
.fileupload_box {
  width: 82px;
  height: 34px;
  position: relative;
}
.fileupload_box:hover button{
  background-color: #ccc;
}